{
  "extends": "eslint-config-airbnb",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
  },
  "rules": {
    // Override: we use higher order containers in the same file
    "react/no-multi-comp": 0,
    // Override: Material-UI proptypes expect booleans, not 'true' strings, so we override here
    "react/jsx-boolean-value": 0,
    "import/default": 0,
    "import/named": 2,
    "import/namespace": 2,
    "import/no-duplicates": 0,
    "import/no-unresolved": 0,
    // Override: scss files are getting included in this and failing to parse
    "import/no-named-as-default": 0,
    "comma-dangle": 0,  // not sure why airbnb turned this on. gross!
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-console": 0,
    "no-alert": 0,
    "no-nested-ternary": 0,
    "max-len": 0
  },
  "plugins": [
    "react",
    "import"
  ],
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolve": {
      moduleDirectory: ["node_modules", "src"]
    }
  },
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "webpackIsomorphicTools": true
  }
}
